<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div id="full-layer-registration">
    <div id="devise-wrap" class="container text-white bg-dark">
      <div class="row registration-title pt-3">
        <div class="col-md-4 offset-md-4">
          <div class="row justify-content-center">
              <div class="field">
                <h3>新規ユーザー登録</h3>
              </div>
          </div>
        </div>
      </div>
      <div class="row registration-name">
        <div class="col-md-4 offset-md-4">
          <div class="row justify-content-center">
              <div class="field">
                <%= f.label :name, "ユーザー名" %><br />
                <%= f.text_field :name, autofocus: true %>
              </div>
          </div>
        </div>
      </div>
      <div class="row registration-email pt-2">
        <div class="col-md-4 offset-md-4">
          <div class="row justify-content-center">
            <div class="field row justify-content-center">
              <%= f.label :email, "メールアドレス" %><br />
              <%= f.email_field :email, size: 40, autofocus: true, autocomplete: "email", placeholder: "example@example.com" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row registration-password pt-2">
        <div class="col-md-4 offset-md-4">
          <div class="row justify-content-center">
            <div class="field">
              <%= f.label :password, "パスワード" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "パスワード" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row registration-confirm-password pt-2">
        <div class="col-md-4 offset-md-4">
          <div class="row justify-content-center">
            <div class="field">
              <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "パスワード" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row registration-submit">
        <div class="col-md-4 offset-md-4">
          <div class="row justify-content-center">
            <div class="actions">
              <%= f.submit "新規登録", class: 'mt-3 btn btn-lg btn-secondary' %>
            </div>
          </div>
        </div>
      </div>
      <footer class="row justify-content-center mt-3 text-white-50">
        <p>Copyright &copy; 2021 Shinnosuke Akashi</p>
      </footer>
    </div>
  </div>
<% end %>