<!DOCTYPE html>
<html>
  <head>
    <title>ListenLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="text-white bg-dark border-bottom border-secondary">
      <% if user_signed_in? %>
        <li>
          <%= link_to "マイページ", my_page_path, class: 'w-25 btn btn-dark btn-lg' %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, class: 'w-25 btn btn-dark btn-lg', method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path, class: 'w-25 btn btn-dark btn-lg' %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, class: 'w-25 btn btn-dark btn-lg' %>
        </li>
      <% end %>
    </div>
    <%= yield %>

    <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% key = "success" if key == "notice" %>
          <% key = "error" if key == "alert" %>
          toastr['<%= key %>']('<%= value %>');
        <% end %>
      </script>
    <% end %>

  </body>
</html>
